{% extends  'Sandbox/Layouts/layout4.html.twig' %}

{% block title %}{{ parent() }} : form{% endblock %}

{% block titre_principal %}Vue "critique_add" : exercices formulaires{% endblock %}

{% block vue %}
    <h2>Ajout d'une critique</h2>
    {{ form(myform) }}

    <h2>dump</h2>
    {{ dump(myform) }}
{% endblock %}
